In [1]:
import pandas as pd

In [2]:
Org = pd.read_csv('mydress.csv')
Sim = pd.read_csv('mydress1.csv')

In [3]:
Org.head(3)

,Unnamed: 0,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,0,womens regular kurta with pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,1,womens ruby cotton printed straight kurta with...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,2,womens crepe straight kurta pack of 2,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...

In [8]:
original=Org.drop(columns=['Unnamed: 0','Image_url'],axis=1)

In [9]:
original.head(3)

,Dress_type,Brand,Actual_price,Disc_price,Image
0,womens regular kurta with pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,womens ruby cotton printed straight kurta with...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,womens crepe straight kurta pack of 2,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...

In [27]:
original.to_csv('Original.csv')

In [10]:
Sim.head(3)

   Unnamed: 0  0  1   2   3   4    5   6   7   8   9   10
0           0  0  8  30  25  84   57  29  46  72   1  116
1           1  1  9  25  29  46   20  72  75  14  30   66
2           2  2  5  84   0   8  207  30  57  25  29   46

In [12]:
similarity=Sim.drop('Unnamed: 0',axis=1)

In [26]:
similarity.to_csv('similarity.csv')

In [16]:
cn=[]
for i in similarity.iloc[1]:
    cn.append(original.iloc[i])

In [18]:
cn=pd.DataFrame(cn)

In [25]:
cn['Image'][9]

'https://m.media-amazon.com/images/I/61g58-cu8AS._AC_UL320_.jpg'